/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
/resources/views/课程材料
/js/libs/
/js/NKeditor*
/js/kindeditor/
/js/wangEditor*
/css/bootstrap*
/css/wangEditor*