/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/nbproject/private/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/css
/public/font
/public/img
/public/js/bootstrap-*
/public/js/jquery-*
/public/js/kindeditor/*
/public/js/NKeditor*
/public/js/wangEditor-*
/public/js/adminlte*
*/课程材料*
