/*
 * Globals
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #444 !important;
    color: #eee;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

p {
    word-wrap: break-word;
    word-break: normal;
    color: #ccc !important;
}

body > b{
    display: block !important;
    color: #b33;
    clear: right !important;
}
input,button{
    background-color: #444 !important;
    color: #ccc !important;
    border-color: #222 !important;
    border-radius: 2px !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0px !important;
    padding: 5px 0px 5px 3px !important;
    border-radius: 3px !important;
    color: #ccc !important;
    background-color: #292929 !important;
}

pre {
    background-color: #252525 !important;
    border-color: #222 !important;
    margin: 3px 5px;
}

/************************************************** 未知内容 **************************************************/
.punctuation {
    clear: right;
    display: block;
}

div.details-container {
    background-color: #ddd !important;
}
div.frame-code-container {
    background-color: #353535 !important;
}
div.details {
    background-color: #ccc !important;
}

pre.code-block {
    background-color: #353535 !important;
}
pre.language-php {
    color: #ccc !important;
}

ol.linenums {
    background-color: #444 !important;
}
li.active {
    background-color: #844 !important;
}
li.current {
    background-color: #855 !important;
}


/************************************************** 内容条目 **************************************************/
.blog-post {
    border-radius: 3px !important;
    color: #ccc !important;
    background-color: #333 !important;
}
.blog-post p{
    padding: 5px;
}

/************************************************** 侧边内容 **************************************************/
div#sidebar {
    border-radius: 3px !important;
    padding: 10px 5px !important;
}
aside.widget {
    border-color: #333 !important;
    background-color: #444 !important;
}
div.panel-heading {
    border-radius: 3px !important;
    border-color: #333 !important;
    color: #ccc !important;
    background-color: #333 !important;
}
div.panel-body,
li.list-group-item {
    border-color: #333 !important;
    background-color: #4a4a4a !important;
}

.panel {
    border-color: #333 !important;
}


/** Override Bootstrap's default container. */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/** Masthead for nav */
.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/** Blog name and description */
.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}


/** Main column and sidebar layout */
.blog-main {
    font-size: 18px;
    line-height: 1.5;
}
.bloger {
    margin: auto;
    width: 850px;
}

/** Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/***  Editor Style **/
#editor-menu {
    width: 750px
}
#editor-content {
    width: 760px; 
    height: 600px; 
    max-height: 1500px;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/** Blog posts */
.blog-post {
    border-radius: 3px;
    margin-bottom: 20px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 24px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.form-control,
.btn-default{
    color: #ccc;
    border-color: #333 !important;
    background-color: #444 !important;
}

/** Footer **/
.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #555;
    border-color: #333 !important;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}